
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/package-lock.json

*.log
**/tmp
**/temp
.dockerignore

.vscode/

.DS_Store
Thumbs.db

logs/
*.log

dist/
build/

npm-cache/
.cache/
